@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #26282e;
  color: white;
  opacity: 100%;
}

.bg {
  background-image: url("../assets/Mask_Group_1.png");
  opacity: 10%;
  filter: alpha(opacity=1);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -99999;
}

.main {
  opacity: 1;
}

.main {
  padding: 2em 10em;
}
